@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
  font-family: "DM Sans", sans-serif;
  background-color: #F2ECDE;
}

.barra-lateral-menu{
    background-color: #183B48;
    width: 250px;
    height: 100vh;
    padding: 8px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

.barra-lateral-menu img{
    width: 200px;
    margin: 30px;
}

.barra-lateral-menu ul{
    list-style-type: none;
    margin: 90px 0px 0px 20px;
}

.barra-lateral-menu ul li{
    font-size: 26px;
    text-align: left;
    margin-bottom: 60px;
    text-decoration: none;
}


.barra-lateral-menu ul li a{
    text-decoration: none;
    color: azure;
}

.container_header{
    margin: 20px 0px 0px 280px;
    display: flex;
    background-color: #183B48;
    width: 85%;
    border-radius: 20px;
    padding: 10px;
}

.container_header h1{
    color: #F2ECDE;
}

.container_header p{
    color: #57B179;
    font-size: 18px;
}
.container_information{
    width: 100%;
    padding: 10px;
}


.button_adicionar{
    text-align: center;
    background-color: #ED712E;
    width: 200px;
    height: 30px;
    display: flex;
    margin: 23px;
    padding: 10px;
    border-radius: 10px;
}

.button_adicionar img{
    width: 30px;
    margin-right: 10px;
}

.button_adicionar button{
    margin-left: 10px;
    height: 33px;
    width: 100px;
    background-color: transparent;
    border-style: none;
    font-size: 22px;
    color: white;
    text-align: center;
}

